<div class="add-post-content">
  <div class="container">
    <div>
      <h3 class="new-post-title">Create New Post</h3>
    </div>
    <hr>
    <form [innerHTML]="addPostForm" (ngSubmit)="addPost()">
      <div class="form-group">
        <label class="post-title">Title</label>
        <input type="text" [innerHTML]="'title'" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label class="post-content">Body</label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form >
  </div>
</div>
